#flex{
    display: flex;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    
}
.hacks{
    visibility: hidden;
}

button{
    border-left: 590px;
    border-left-color: red;
    color: black;
    background-color: blue;
    font-size: large;
   
    
}
h2{
     color: red;
     
}
h3{
    color: yellow;
}
#Textrix{
    display: none;
}
#pac_man{
    display: none;
}
p{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: left;
}
#Textrixrestart{
    font-size: large;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(88, 4, 255);
    }
}
@media only screen and (min-width: 600px) {
    body {
      background-color: rgb(88, 4, 255);
    }
}